*{
    font-family: Poppins, sans-serif;
    font-weight: 400;
}
body{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80vw;
}
.myHeader{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    .pageControl{
        display: flex;
        align-items: center;
        font-size: 14px;
        margin-right: 5px;
        input{
            height: 30px;
            width: 35px;
            text-align: center;
            border: none;
            background-color: transparent;
        }
        #inputCurrentPage{
            border: 1px solid rgb(214, 212, 212);
            margin: 0 5px;
        }

        button{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            aspect-ratio: 1;
            border-radius: 50%;
            margin: 0 5px;
            background-color:  rgb(67, 94, 153);
            cursor: pointer;
            span{
                color:white;
                font-size: 18px;
            }
        }
    }
}
.myTable{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    th{
        height: 50px;
        padding: 0 5px;
        text-align: center;
    }
    td{
        font-size: 0.8rem;
        height: 40px;
        border-bottom: 1px solid rgb(214, 212, 212);
        padding: 0 5px;
    }

    #col_id{width: 5%}
    #col_action{width: 5%}
    
}

.action{
    display: flex;
    justify-content: center;
    button{
        margin: 0 5px;
    }
}

button{
    border: none;
}
.btnAdd{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: rgb(67, 94, 153);
    padding: 0 10px;
    color: white;
    font-size: 40px;
    span{
        font-size: 24px;
    }
}
.btnAdd::after{
    content:"Add New Data";
    position: absolute;
    display: block;
    height: 40px;
    width: 300px;
    top: 10px;
    left: 50px;
    color: rgb(114, 114, 114);
    font-size: 1rem;
    text-align: start;
}
.btnEdt{
    display: flex;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(67, 94, 153);
    cursor: pointer;
    span{
        color: white;
        font-size: 18px;
    }
}
.btnDel{
    display: flex;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgb(102, 0, 0);
    cursor: pointer;
    span{
        color: white;
        font-size: 18px;
    }
}

@media screen and (max-width: 480px){
    .myHeader{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 150px;
        width: 100vw;
        padding: 0;
        margin:  0;
        .btnHeader{
           display: flex;
           width: 100vw;
           justify-content: start;
           padding:50px 0 0 0;
        }
        .pageControl{
            display: flex;
            width: 100vw;
            justify-content: flex-start;
            padding: 30px 0 20px 15px;
        }
    }
    .myTable{
        margin-top: 30px;
    }
}
